<body>
    <div id="wall">
        <div id="title">
            <h3 class="animate__animated animate__bounce animate__bounceOut animate__slower animate__infinite">PORTFOLIO</h3>
        </div>
        <img src="assets/img/tachikoma.gif" id="main">
        <a href="#portfolio">
            <div class="scroll-down"></div>
        </a>
    </div>
    <div class="container" id="portfolio">
        <h3 class="animate__animated animate__fadeInLeft">
            My Portfolioooooo
        </h3>
        <h3>
            My Portfolio
        </h3>
        <h3>
            My Portfolio
        </h3>
        <h3>
            My Portfolio
        </h3>
        <h3>
            My Portfolio
        </h3>
        <h3>
            My Portfolio
        </h3>
        <h3>
            My Portfolio
        </h3>
        <h3>
            My Portfolio
        </h3>
    </div>
</body>