<body>
    <div id="wall">
        <div id="title">
            <h3 class="animate__animated animate__bounce animate__slow animate__infinite">PORTFOLIO</h3>
        </div>
        <img src="assets/img/tachikoma.gif" id="main">
        <a href="#portfolio">
            <div class="scroll-down"></div>
        </a>
    </div>
    <div class="container grid-container" id="portfolio">
        <div class="grid-item item-1" data-aos="zoom-in">
            <img src="assets/img/ava.png" id="ava">
            <h2>LU CHÍ HÀO</h2>
            <h3>FRONT-END DEVELOPER</h3>
        </div>
        <div class="grid-item item-2" data-aos="zoom-in">
            <h2>CONTACT INFO</h2>
            <p><i class="fa fa-phone" aria-hidden="true"></i> (+84)38 777 7253</p>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i> District 5, Ho Chi Minh City</p>
            <p><i class="fa fa-envelope" aria-hidden="true"></i> luchihao253@gmail.com</p>
            <p><i class="fa fa-github" aria-hidden="true"></i> github.com/haolu253</p>
        </div>
        <div class="grid-item item-3" data-aos="zoom-in">
            <h2>ABOUT ME</h2>
            <p>I'm a Front-end Developer, interested in design and develop website UI.</p>
            <p>Motto: Code for Food.</p>
        </div>
        <div class="grid-item item-4" data-aos="fade-down">
            <h2>EXPERIENCE</h2>
            <hr>
            <h3 class="exp-1" data-aos="fade-right">Internship | Mar 2021 - Jun 2021</h3>
            <h3 data-aos="fade-right">The House - Mekong Saigon, Ho Chi Minh City</h3>
            <p data-aos="fade-right">
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                Design UI for a website using Photoshop and Figma then develop it into an complete interface by HTML, CSS and a bit of JS.
            </p>
            <h3 class="exp-2" data-aos="fade-right">Freelance | Dec 2021 - Jan 2022</h3>
            <h3 data-aos="fade-right">Private company, Ho Chi Minh City</h3>
            <p data-aos="fade-right">
                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                Customize UI according to customer request using Photoshop, complete it with HTML and CSS, then hand it over to another team with more specialization to finish it.
            </p>
        </div>
        <div class="grid-item item-5" data-aos="fade-down">
            <h2>PROJECTS</h2>
            <hr>
            <div class='row' data-aos="fade-up-right"> 
                <img src="assets/img/school.png" id="pj-leftimg">
                <div class="container" id="pj-leftcont">
                    <h3 class="pj1-title">School project with </h3>
                    <h3>Feb 2020 - Apr 2020</h3>
                    <p>Building a website for the Wedding Venue using ASP.NET MVC5 that has functions like: Add/Edit Dishes, Menu and make online reservations.</p>
                    <p><i class="fa fa-github" aria-hidden="true"></i> github.com/haolu253/weddingvenue</p>
                </div>
            </div>
            <div class='row' id="rightrow" data-aos="fade-up-left"> 
                <img src="assets/img/school.png" id="pj-rightimg">
                <div class="container" id="pj-rightcont">
                    <h3 class="pj2-title">School project with </h3>
                    <h3>Apr 2020 - Jun 2020</h3>
                    <p>E-commerce website using ASP.NET Core which can: Add/Edit products, making order, checkout and send order details via email.</p>
                    <p><i class="fa fa-github" aria-hidden="true"></i> github.com/haolu253/weddingvenue</p>
                </div>
            </div>
            <div class='row' data-aos="fade-up-right"> 
                <img src="assets/img/learn.png" id="pj-leftimg">
                <div class="container" id="pj-leftcont">
                    <h3 class="pj3-title"> learning project</h3>
                    <h3>Feb 2022 - Now</h3>
                    <p>Building a website to learn Angular framework.</p>
                    <p><i class="fa fa-github" aria-hidden="true"></i> github.com/haolu253/thuenha</p>
                    <p><i class="fa fa-globe" aria-hidden="true"></i> haolu253.github.io/thuenha</p>
                </div>
            </div>
            <div class='row' id="rightrow" data-aos="fade-up-left"> 
                <img src="assets/img/portfolio.png" id="pj-rightimg">
                <div class="container" id="pj-rightcont">
                    <h3 class="pj4-title"> project</h3>
                    <h3>Mar 2022 - Mar 2022</h3>
                    <p>Made an Portfolio website with HTML, CSS and animation libraries.</p>
                    <p><i class="fa fa-github" aria-hidden="true"></i> github.com/haolu253/myweb</p>
                    <p><i class="fa fa-globe" aria-hidden="true"></i> haolu253.github.io/myweb</p>                
                </div>
            </div>
        </div>
        <div class="grid-item item-6" data-aos="fade-down">
            <h2>SKILLS</h2>
            <hr>
            <h3 data-aos="fade-right">Front-end</h3>
            <p data-aos="fade-right">HTML, CSS, Bootstrap, Javascript, React(Learning)</p>
            <h3 data-aos="fade-right">Back-end</h3>
            <p data-aos="fade-right">.NET, Entity Framework</p>
            <h3 data-aos="fade-right">Source Control</h3>
            <p data-aos="fade-right">Git(GitHub)</p>
            <h3 data-aos="fade-right">UI/UX</h3>
            <p data-aos="fade-right">Photoshop, Figma</p>
        </div>
        <div class="grid-item item-7" data-aos="fade-down">
            <h2>CERTIFICATIONS</h2>
            <hr>
            <h3>HCM University of Foreign Languages and Information Technology</h3>
            <p>2017 - 2021 | Bachelor's degree, Computer Software Engineering, GPA: 7.98/10</p>
            <h3>TOEIC</h3>
            <p>810/990, Issued Dec 2020 – Expires Dec 2022</p>
        </div>
    </div>
</body>