<body>
    <div id="wall">
        <img src="assets/img/tachikoma.gif" id="main">
        <a href="#portfolio">
            <div class="scroll-down"></div>
        </a>
    </div>
    <div class="container" id="portfolio">
        <h3>
            My Portfolioooooo
        </h3>
        <h3>
            My Portfolio
        </h3>
        <h3>
            My Portfolio
        </h3>
        <h3>
            My Portfolio
        </h3>
        <h3>
            My Portfolio
        </h3>
        <h3>
            My Portfolio
        </h3>
        <h3>
            My Portfolio
        </h3>
        <h3>
            My Portfolio
        </h3>
    </div>
</body>